include mixins/layer.pug
include mixins/layer-row.pug
include mixins/layer-row-col.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Bootstrap 3 Editor

    // build:css css/app.css
    link(rel="stylesheet" href="./lib/node_modules/bootstrap3/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="./lib/node_modules/smokejs/dist/css/smoke.min.css")
    link(rel="stylesheet" href="./css/app.css")
    // endbuild
  body
    include bs3-editor.pug

    .playground#playground
      //- .container-fluid(data-name="Layer 1")
      //-   //- .grid-info
      //-   //-   span.label.label-primary Layer 1

      //-   .row(data-name="Row 1")
      //-     .grid-info
      //-       span.label.label-info Row 1

      //-     .col-md-12(data-name="Col 1")
      //-       .grid-info
      //-         span.label.label-success Col 1

      //-       h1.page-header Hello World

      //-       .row
      //-         .grid-info
      //-           span.label.label-info Row 1-1

      //-         .col-md-3
      //-           .grid-info
      //-             span.label.label-success Col 3

      //-         .col-md-3
      //-           .grid-info
      //-             span.label.label-success Col 3

      //-         .col-md-3
      //-           .grid-info
      //-             span.label.label-success Col 3

      //-         .col-md-3
      //-           .grid-info
      //-             span.label.label-success Col 3

    - var LAYERS_ID = "bs3-ed-layers";
    script(type="text/template" id="layer-tmpl")
      +layer_tmpl(LAYERS_ID)

    script(type="text/template" id="layer-row-tmpl")
      +layer_row_tmpl(LAYERS_ID)

    script(type="text/template" id="layer-row-col-tmpl")
      +layer_row_col_tmpl(LAYERS_ID)

    script(type="text-template" id="container-tmpl")
      div(
        class!="container<%= (typeof fluid !== undefined) ? '-fluid' : '' %> pg-layer"
        data-num!="<%= num %>"
        data-name!="Layer <%= num %>"
      )

    script(type="text-template" id="row-tmpl")
      .row.pg-row(data-num!="<%= num %>" data-name!="Row <%= num %>")

    script(type="text-template" id="col-tmpl")
      .col-xs-12.pg-col(data-num!="<%= num %>" data-name!="Row <%= num %>")

    script(type="text-template" id="grid-info-tmpl")
      .grid-info
        <% var CONTAINER = "container"; %>
        <% var ROW = "row"; %>
        <% var COL = "col"; %>

        <% if(block.toLowerCase() === CONTAINER) { %>
          span.label.label-primary <%= content %>
        <% } else if (block.toLowerCase() === ROW) { %>
          span.label.label-info <%= content %>
        <% } else if (block.toLowerCase() === COL) { %>
          span.label.label-success <%= content %>
        <% } %>

    // build:js js/app.js
    script(type="text/javascript" src="./lib/node_modules/jquery/dist/jquery.js")
    script(type="text/javascript" src="./lib/node_modules/bootstrap3/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="./lib/node_modules/underscore/underscore-min.js")
    script(type="text/javascript" src="./lib/node_modules/smokejs/dist/js/smoke.min.js")

    script(type="text/javascript" src="./js/functions/smoke-modify.js")
    script(type="text/javascript" src="./js/functions/helper.js")

    script(type="text/javascript" src="./js/App.js")
    // endbuild
