include mixins/layer.pug
include mixins/layer-row.pug
include mixins/layer-row-col.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Bootstrap 3 Editor

    // build:css css/app.css
    link(rel="stylesheet" href="./lib/node_modules/bootstrap3/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="./lib/node_modules/smokejs/dist/css/smoke.min.css")
    link(rel="stylesheet" href="./css/helper.css")
    link(rel="stylesheet" href="./css/app.css")
    // endbuild
  body
    .container-fluid
      .row
        .col-xs-8
          .playground#playground

        .col-xs-4
          .margin-top.margin-right
            .editor#bs3-editor
              .panel.panel-primary
                .panel-heading
                  span.glyphicon.glyphicon-move.move-tool.no-select(style="display: none")

                  .checkbox.pull-right.no-margin-top
                    label.cursor-pointer.no-select
                      input(type="checkbox" name="overlay")
                      | Overlay

                  h1.panel-title.no-select Bootstrap 3 Editor

                .panel-body
                  - var LAYERS_ID = "bs3-ed-layers";
                  - var DEFAULT_NUM_OF_LAYER = 2;

                  button.btn.btn-primary.btn-xs.add-layer
                    span.glyphicon.glyphicon-plus
                    if DEFAULT_NUM_OF_LAYER < 1
                      |
                      | Add Layer

                  .panel-group.panel-layers(
                    role="tablist"
                    aria-multiselectable="true"
                    id=LAYERS_ID
                    data-counter=DEFAULT_NUM_OF_LAYER
                  )
                    - var layer_num = 1;
                    while layer_num <= DEFAULT_NUM_OF_LAYER
                      +layer(LAYERS_ID, layer_num, layer_num === 1) // layer_num === 1 means open first layer
                      - layer_num++

    script(type="text/template" id="layer-tmpl")
      +layer_tmpl(LAYERS_ID)

    script(type="text/template" id="layer-row-tmpl")
      +layer_row_tmpl(LAYERS_ID)

    script(type="text/template" id="layer-row-col-tmpl")
      +layer_row_col_tmpl(LAYERS_ID)

    // build:js js/app.js
    script(type="text/javascript" src="./lib/node_modules/jquery/dist/jquery.js")
    script(type="text/javascript" src="./lib/node_modules/bootstrap3/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="./lib/node_modules/underscore/underscore-min.js")
    script(type="text/javascript" src="./lib/node_modules/smokejs/dist/js/smoke.min.js")
    script(type="text/javascript" src="./js/components/Bs3Editor.js")

    script(type="text/javascript" src="./js/smoke-modify.js")
    script(type="text/javascript" src="./js/helper.js")

    script(type="text/javascript" src="./js/app.js")
    // endbuild
