include mixins/layer.pug
include mixins/layer-row.pug
include mixins/layer-row-col.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Bootstrap 3 Editor

    // build:css css/app.css
    link(rel="stylesheet" href="./lib/node_modules/bootstrap3/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="./lib/node_modules/smokejs/dist/css/smoke.min.css")
    link(rel="stylesheet" href="./css/app.css")
    // endbuild
  body
    include bs3-editor.pug

    .container-fluid
      .row
        .col-xs-12
          .playground#playground
            .container
              .row
                .col-md-12
                  h1.page-header Hello World

    - var LAYERS_ID = "bs3-ed-layers";
    script(type="text/template" id="layer-tmpl")
      +layer_tmpl(LAYERS_ID)

    script(type="text/template" id="layer-row-tmpl")
      +layer_row_tmpl(LAYERS_ID)

    script(type="text/template" id="layer-row-col-tmpl")
      +layer_row_col_tmpl(LAYERS_ID)

    // build:js js/app.js
    script(type="text/javascript" src="./lib/node_modules/jquery/dist/jquery.js")
    script(type="text/javascript" src="./lib/node_modules/bootstrap3/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="./lib/node_modules/underscore/underscore-min.js")
    script(type="text/javascript" src="./lib/node_modules/smokejs/dist/js/smoke.min.js")

    script(type="text/javascript" src="./js/functions/smoke-modify.js")
    script(type="text/javascript" src="./js/functions/helper.js")

    script(type="text/javascript" src="./js/App.js")
    // endbuild
