<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Bootstrap 3 Editor

    // build:css css/app.css
    link(rel="stylesheet", href="./lib/node_modules/bootstrap3/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="./lib/node_modules/smokejs/dist/css/smoke.min.css")
    link(rel="stylesheet", href="./css/helper.css")
    link(rel="stylesheet", href="./css/app.css")
    // endbuild
  body
    .container-fluid
      .row
        .col-xs-8
          .playground#playground

        .col-xs-4
          .margin-top.margin-right
            .editor#bs3-editor
              .panel.panel-primary
                .panel-heading
                  span.glyphicon.glyphicon-move.move-tool.no-select(style="display: none")

                  .checkbox.pull-right.no-margin-top
                    label.cursor-pointer.no-select
                      input(type="checkbox" name="overlay")
                      |
                      | Overlay
                  h1.panel-title.no-select
                .panel-body
                  button.btn.btn-primary.btn-xs.add-layer
                    span.glyphicon.glyphicon-plus

                  .panel-group.panel-layers#bs3-ed-layers(
                    role="tablist"
                    aria-multiselectable="true"
                  )
                    .panel.panel-default.layer-item
                      .panel-heading(role="tab")
                        .pull-right.layer-button
                          button.btn.btn-danger.btn-xs.delete-layer(data-layer-name="Layer 1")
                            span.glyphicon.glyphicon-trash
